<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WCFServiceHost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ThreadPoolSize" value="10"/>
    <add key="ChunkLength" value="60"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <compilation debug="true">
      <assemblies>
        <add assembly="UdpBinding"/>
      </assemblies>
    </compilation>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <client>
      <metadata>
        <wsdlImporters>
          <extension type="UdpTransportBinding.UdpTransportElement, UdpBinding" />
        </wsdlImporters>
        <policyImporters>
          <extension type="UdpTransportBinding.UdpBindingCollectionElement, UdpBinding" />
        </policyImporters>
      </metadata>
    </client>
    <services>
      <service name="TransportService.TransportProtocol" behaviorConfiguration="MyBehavior">
        <endpoint name="NetTcpEndPoint" address="" binding="netTcpBinding" contract="TransportService.ITransportProtocol">
        </endpoint>
        <endpoint name="BasicHttpBinding" address="" binding="basicHttpBinding" contract="TransportService.ITransportProtocol">
        </endpoint>
        <endpoint name="NetUdpEndpoint" address="" binding="netUdpBinding" contract="TransportService.ITransportProtocol">
        </endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <bindingElementExtensions>
        <add name="netUdp" type="UdpTransportBinding.UdpTransportElement, UdpBinding"/>
      </bindingElementExtensions>
      <bindingExtensions>
        <add name="netUdpBinding" type="UdpTransportBinding.UdpBindingCollectionElement, UdpBinding"/>
      </bindingExtensions>
    </extensions>
    <!--<bindings>
      <udpTransportBinding>
        <binding name="config"/>
        <udpTransport/>
      </udpTransportBinding>
    </bindings>-->
  </system.serviceModel>
  <userSettings>
    <WCFServiceHost.Properties.Settings>
      <setting name="tcpPort" serializeAs="String">
        <value>9999</value>
      </setting>
      <setting name="httpPort" serializeAs="String">
        <value>9998</value>
      </setting>
      <setting name="udpPort" serializeAs="String">
        <value>9997</value>
      </setting>
    </WCFServiceHost.Properties.Settings>
  </userSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
