<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="TransportService.TransportProtocol" behaviorConfiguration ="MyBehavior">
        <host>
          <baseAddresses>
            <add baseAddress = "net.tcp://localhost:9999/TransportProtocol/" />
            <add baseAddress = "http://localhost:9998/TransportProtocol/"/>
          </baseAddresses>
        </host>
        <endpoint name ="NetTcpEndPoint"
                  address =""
                  binding="netTcpBinding"
                  contract="TransportService.ITransportProtocol">
        </endpoint>
        <endpoint name ="NetTcpMetadataPoint"
                  address="mex"
                  binding="mexTcpBinding"
                  contract="IMetadataExchange"/>
        <endpoint name= "BasicHttpBinding"
                  address = ""
                  binding ="basicHttpBinding"
                  contract="TransportService.ITransportProtocol">
        </endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name ="MyBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>